In [2]:
import requests
import json
import pandas as pd

# get a list of all manga
base_url = "https://api.mangadex.org"
uuid = "a990c2a1-b54f-4f4f-986c-3cdab1c9f2f9"
r = requests.get(f"{base_url}/chapter?manga={uuid}")

In [4]:
pd.DataFrame(r.json()).head()

,result,response,data,limit,offset,total
0,ok,collection,"{'id': '1ab38d10-5a67-42e2-80c9-4c5e99e79345',...",10,0,754
1,ok,collection,"{'id': 'c2d304aa-135f-4de7-8526-d4b73c3114fc',...",10,0,754
2,ok,collection,"{'id': 'cf65eca6-a331-4dcf-b3de-2f9756db55f8',...",10,0,754
3,ok,collection,"{'id': 'fa3600ee-8b9f-4d7a-ba94-7d1d414c8d55',...",10,0,754
4,ok,collection,"{'id': 'c4c2594f-2ed2-4480-b147-56341a7b9edd',...",10,0,754

In [8]:
pd.DataFrame(r.json()["data"])

,id,type,attributes,relationships
0,1ab38d10-5a67-42e2-80c9-4c5e99e79345,chapter,"{'volume': '1', 'chapter': '1', 'title': 'Let'...",[{'id': 'df075688-f7da-4cd0-9805-90ec13b48b3f'...
1,c2d304aa-135f-4de7-8526-d4b73c3114fc,chapter,"{'volume': '1', 'chapter': '2', 'title': 'Let'...",[{'id': 'df075688-f7da-4cd0-9805-90ec13b48b3f'...
2,cf65eca6-a331-4dcf-b3de-2f9756db55f8,chapter,"{'volume': '1', 'chapter': '3', 'title': 'Let'...",[{'id': 'df075688-f7da-4cd0-9805-90ec13b48b3f'...
3,fa3600ee-8b9f-4d7a-ba94-7d1d414c8d55,chapter,"{'volume': '1', 'chapter': '4', 'title': 'Let'...",[{'id': 'df075688-f7da-4cd0-9805-90ec13b48b3f'...
4,c4c2594f-2ed2-4480-b147-56341a7b9edd,chapter,"{'volume': '1', 'chapter': '5', 'title': 'Let'...",[{'id': 'df075688-f7da-4cd0-9805-90ec13b48b3f'...
5,6d42fdf2-9204-4812-8fbe-be2e4e548bf2,chapter,"{'volume': '1', 'chapter': '6', 'title': 'Let'...",[{'id': 'df075688-f7da-4cd0-9805-90ec13b48b3f'...
6,f65e6506-357c-4919-bee0-e53de3778152,chapter,"{'volume': '1', 'chapter': '7', 'title': 'Let'...",[{'id': 'df075688-f7da-4cd0-9805-90ec13b48b3f'...
7,275c4f28-508c-4b76-bf8c-59c3827be711,chapter,"{'volume': '1', 'chapter': '7.5', 'title': 'Om...",[{'id': 'efd8e5ca-eef9-43c6-9a1a-d5199c43d758'...
8,d8c15f44-c61e-434d-ba8b-e27c7fbb2453,chapter,"{'volume': '2', 'chapter': '8', 'title': 'Let'...",[{'id': 'df075688-f7da-4cd0-9805-90ec13b48b3f'...
9,62655be8-16a8-4646-ac0a-7fbeae4a4dd4,chapter,"{'volume': '2', 'chapter': '9', 'title': 'Let'...",[{'id': 'df075688-f7da-4cd0-9805-90ec13b48b3f'...

In [9]:
# and just testing around for the scraper offset logic
list(range(100, 350, 100))

[100, 200, 300]